$pri-col: #e25834;
$sec-col: #cf956a;
$dark-col: #070707;
$light-col: #aaaaaa;
$err-col: #e74c3c;
$suc-col: #2ecc71;
$war-col: #f39c12;
$link-col: #3498db;
$xw-col: #eeeeee;
$xd-col: #34495e;

$dark-alpha-light-col: #0000007e;
$dark-alpha-strong-col: #000000c2;

$site-width: 980px;
$rounded: .3em;