.HomePage {
    height: 100vh;
    width: 100%;
    color: #eee;
    background-color: #222;
    background-position: center;
    background-size: cover;
    transition: background 2s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: grid;
}

.HomePage .blackHover {
    background-color: #000;
    opacity: .9;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.HomePage .A3I_container {
    align-self: center;
    justify-self: center;
    text-align: center;
    max-width: 500px;
}

.HomePage .A3I_container img {
    margin: 20px auto;
    display: block;
    width: 200px;
}

.HomePage .A3I_container  a.btnLinks {
    display: inline-block;
    text-decoration: none;
    font-size: 50px;
    padding: 10px;
    color: #eee;
    transition: .2s;
    margin: 10px;
}
.HomePage .A3I_container  a.btnLinks:hover {
    color: #fc0;
    font-size: 60px;
    margin: -5px 5px;
    text-shadow: 0 0 15px #fa0;
}
.HomePage .A3I_container  a.btnLinks:active {
    color: #fa0;
    transform: rotate(-20deg);
}


.HomePage .footer {
    margin-top: -20px;
    text-align: center;
}
.HomePage .footer a {
    color: #fb0;
}