@import '../../assets/scss/defaults';
@import '../../assets/scss/func';
@import '../../assets/scss/util';

.Home {
    width: 100vw;
    height: 100vh;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../../assets/wallpapers/background.jpg');
    background-position: center;
    background-size: cover;

    &-hover {
        width: 100%;
        height: 100%;

        position: absolute;

        background-color: rgba($color: #000000, $alpha: .8);
    }

    &-content {
        z-index: 1;

        .head {
            text-align: center;

            h1 {
                text-transform: uppercase;
                letter-spacing: .1em;
                font-size: 3.5em;
            }
            hr { margin: .3em 0; }
            p { letter-spacing: .8em; }
        }

        .social {
            width: 100%;

            display: flex;
            justify-content: space-evenly;

            margin-top: 2em;

            a:hover > svg { animation: xrota .5s forwards; }
        }
    }
    .foot {
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        text-align: center;
        padding: .5em 0;

        color: $light-col;
        font-size: .8em;
    }
}