@import '../../assets/scss/defaults';
@import '../../assets/scss/func';
@import '../../assets/scss/util';

.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background: $dark-col;
    padding: .5em;

    font-size: 20px;

    a {
        display: flex;
        align-items: center;

        color: $xw-col;
        transition: color .2s;

        &:hover {
            color: $link-col;
        }

        img {
            width: 2em;
        }
    }

    h2#logo {
        // padding: 1em;
    }

    ul#links {
        
        li {
            display: inline-block;
            padding: 0 1em;
        }
    }

    a#login {}
}