@import '../../assets/scss/defaults';
@import '../../assets/scss/func';
@import '../../assets/scss/util';

.Servers {
    
    width: 100vw;
    height: 100vh;

    position: relative;

    background-image: url('../../assets/wallpapers/background2.jpg');
    background-position: center;
    background-size: cover;
    z-index: 0;

    &-hover {
        z-index: -1;
        width: 100%;
        height: 100%;

        position: absolute;

        background-color: $dark-alpha-strong-col;
    }

    &-content {
        z-index: 1;

        max-width: $site-width;
        margin: 1em auto;

        h2.title {
            text-align: center;
    
            margin: .5em 0 .2em;
            font-size: 4em;
        }
    }

}